p1, p2, p3 {color: #660;
font-family: fantasy;
border-top:20px;
padding-top: 7px;
padding-left: 100px;
 }
p4, p5, p6, p7 {color: #300;
font-family:Arial;
padding-top: 40px;
padding-left: 10px;}
